[submodule "libraries/linalg"]
	path = libraries/linalg
	url = https://github.com/sgorsten/linalg.git
[submodule "libraries/openvr"]
	path = libraries/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "libraries/PerceptionNeuronSDK"]
	path = libraries/PerceptionNeuronSDK
	url = https://github.com/pnmocap/MocapApi.git
